body
{
    background:#721214 url(../images/tile.png);
    margin:0;
    padding:0;
    user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
}
h1, h2 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    margin:0;
    padding:0;
}
h1 {
    color:#515B38;
    font-size: 24px;
}
h2 {
    color:#BF4EA1;
    font-size: 18px;
}
form, span, ul {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
}
ul {
    list-style-type: none;
    list-style-position:outside;
    margin:0;
    padding:0;
}
li {
    margin:0;
    padding:0;
}

#selector {
    border:3px solid #402C33;
    background:#ffffff;
    padding:20px;
    position:absolute;
    width:300px;
}
#selector .close {
    cursor:pointer;
    position:absolute;
        top:2px;
        right:2px;
}
#selector form {
    padding:10px 0 0 0;
}
#selector .process{
    cursor:pointer;
    background-image:url(../images/process_add.png);
    float:right;
    height:64px;
    width:64px;
}
#selector img{
    vertical-align:-2px;
}

#content {
    background-color:#ffffff;
    box-shadow: 0 0 40px 5px #222;
        X-moz-box-shadow: 0 0 25px 15px #222;
        X-webkit-box-shadow: 0 0 25px 15px #222;
    margin:0 auto;
    width:500px; 
}
#show_list{
    margin:0;
    padding:30px;
}
#show_list ul{
    margin:0;
    padding:0 0 10px 0;
}
.show_title{
    background:#721214;
    border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
    color:#fff;
    display:block;
    font-size:20px;
    font-weight:bold;
    padding:6px 10px 6px 10px;
    width:100%;
}

.show {
    background-color:#ffffff;
    border:1px solid #ffffff;
    cursor:pointer;
    padding:2px 10px;
}
.show:hover {
    border:1px dashed #402C33;
}
.show img{
    padding:0 6px 0 0;
    vertical-align:-3px;
}
.show .hd{
    background-color:#000;
    color:#fff;
    font-weight:bold;
    padding:1px 3px;
}