# OS X files to ignore
.AppleDB/
.AppleDesktop/
.AppleDouble/
.DS_Store
.TemporaryItems/

# CodeIgniter files to ignore
*/system/logs/log-*.php
*/system/cache/*
*/system/cache/!index.html
*/application/logs/*
