html, body {
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", "Lucida Bright", Georgia, serif ;
    margin: 0;
    padding: 0;
}
#content {
    padding: 4pt 0 0 0;
}
h2, h3 {
    margin: 0;
    padding: 0;
}
.show {
    float: left;
    height: 160pt;
    padding: 8pt 0 0 0;
    position: relative;
    width: 160pt;
}
.showLogo {
    border-radius: 50px;
    cursor: pointer;
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
h2 {
    font-size: 18pt;
    margin: 4pt 6pt;
    text-align: center;
}
.opened h2 {
    display: none;
}
.showEpisodes {
    color: #666;
    font-size: 10pt;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.opened .showEpisodes {
    display: none;
}
.episode {
    background-color: #FFF;
    display: none;
    padding: 0 10pt;
    position: relative;
    z-index: 1;
}
h3 {
    background-color: #EEE;
    border-radius: 4px;
    border-top: 3px solid #FFF;
    cursor: pointer;
    font-size: 12pt;
    padding: 4pt 5pt 4pt 10pt;
}
.opened .episode {
    display: block;
}
.episodeDetails {
    display: none;
}
#modal {
    background: rgba(0,0,0,0.6);
    display: none;
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 2;
}
#modal.active {
    display: block;
}
#dialog {
    background: #fff;
    border-radius: 10px;
    height: 200px;
    margin: 10% auto;
    padding: 6pt;
    position: relative;
    width: 400px;      
}
#dialogInfo h4, #dialogInfo h5, #dialogInfo p {
    margin: 0;
    padding: 2pt;
}
#dialogInfo h4 {
    border-bottom: 1px solid #000;
    font-size: 16pt;
    margin-bottom: 4pt;
}
#dialogInfo h5, #dialogInfo p, #dialog label {
    font-size: 10pt;
}
#dialogInfo p {
    max-height: 34pt;
    overflow: hidden;
}
#dialog form {
    overflow: hidden;
    padding: 4pt 0;
}
#dialog label {
    display: block;
    float: left;
    width: 50%;
}
#dialog img {
    vertical-align:text-top;
}
#dialogCancel, #dialogStart {
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    padding: 3pt 16pt;
}
#dialogCancel {
    background-color: #FCC;
    position: absolute;
        bottom: 8pt;
        left: 8pt;
}
#dialogStart {
    background-color: #CFC;
    position: absolute;
        bottom: 8pt;
        right: 8pt;
}

.cols1{width:100%;}
.cols2{width:50%;}
.cols3{width:33.33%;}
.cols4{width:25%;}
.cols5{width:20%;}
.cols6{width:16.67%;}
.cols7{width:14.28%;}
.cols8{width:12.5%;}
.cols9{width:11.11%;}