<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - TiVampyre</title>
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
